name: Linter

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

permissions:
  contents: read

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer

      - name: Install dependencies
        run: |
          composer install \
            --no-ansi \
            --no-interaction \
            --no-scripts \
            --no-progress \
            --prefer-dist

      - name: Run Pint (Laravel)
        run: vendor/bin/pint --test
